.header {
    background-color: #FFFFFF;
    display: flex;
    width:100%;
    justify-content: space-between;
}

.navbar-light{
    background-color: #ffffff;
    color: #aaa;
    border: 1px solid #aaa;
}

.navbar-dark{
    background-color: #121212;
    color: #aaa;
    border: 1px solid #1c1c1a;

}

.header ul{
    list-style-type: none;
}

.header li{
    display: inline-block;
    padding-right: 25px;
    margin: 10px;
}

ul li a{
    text-decoration: none;
    color: #aaa;

}

.button-switch{
    background-color: #aaa;
    color: white;
    width: 200px; 
    font-size: 12px;
    margin: 15px auto;
    display: flex;
    border-radius: 4px;
    padding: 14px;
    box-shadow: 0 9px #999;
    outline: none;
}

.button-switch:active {
    background-color: #3e8e41;
    box-shadow: 0 9px #666;
    transform: translateY(8px);
  }

.button-switch:hover {
    background-color: #aaa;
}

h1{
    margin: 20px;
}

.btn-create{
    background-color: #34eb7d;
    color: white;
    margin: 0 135px 20px;
    width: 250px;
}

.btn-create:hover {
    background-color: #34eb7d;
}